.btn{
  border-radius: 5rem;
  padding-block: .5rem;
  font: var(--button);
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}


.btn-blue {
  background: var(--blue10);
  color: var(--white);
}

.btn-blue:hover{
   background: var(--blue20);
}

.btn-white {
  background: var(--white);
  color: var(--blue10);
}

/* .btn-white:hover{
   background: var(--blue20);
} */


.btn-outline-danger {
  color: red;
  border: 1px solid red;
  border-radius: .25rem;
  opacity: .6;
}

.btn-outline-danger:hover {
  transition: .3s ease;
  opacity: 1;
}

