.btn {
  border-radius: 5rem;
  padding-block: 0.5rem;
  font: var(--button);
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-blue {
  background: var(--blue10);
  color: var(--white);
}

.btn-blue:hover {
  background: var(--blue20);
}

.btn-white {
  background: var(--white);
  color: var(--blue10);
}

/* .btn-white:hover{
   background: var(--blue20);
} */

.btn-outline-danger {
  color: red;
  border: 1px solid red;
  border-radius: 0.25rem;
  opacity: 0.6;
}

.btn-outline-danger:hover {
  transition: 0.3s ease;
  opacity: 1;
}

.btn-outline-blue {
  color: var(--blue10);
  border: 1px solid var(--blue10);
  border-radius: 0.25rem;
  opacity: 1;
}

.btn-outline-blue:hover {
  transition: 0.3s ease;
  opacity: 0.6;
}

/* Fab */
.fab {
  /* background: var(--blue10); */
  block-size: 3.125rem;
  inline-size: 3.125rem;
  border-radius: 100%;
  color: var(--white);
  font: var(--button);
  /* padding: 1.5625rem; */
  position: fixed;
}

.fab.fab-primary {
  background: var(--blue10);
  inset-block-end: 1.5625rem;
  inset-inline-end: 1.5625rem;
}

.fab.fab-danger {
  background: rgb(208, 32, 32);
  inset-block-end: 1.5625rem;
  inset-inline-start: 1.5625rem;
}
